<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <title>Current time</title>
<script>
<!--
function getStylesheet() {
      var currentTime = new Date().getHours();
      if (currentTime>6&&currentTime <=18) {
       document.write("<link rel='stylesheet' href='css/day.css' type='text/css'>");
      }
     else{
       document.write("<link rel='stylesheet' href='css/night.css' type='text/css'>");
      }
}
getStylesheet();
-->
</script>
</head>

<body>
    This page was loaded at <%= time %>
</body>

</html>